Repository rtaormina/waterwatch-mobile: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_mobile_image, lint_app, unit_and_widget_tests

build_mobile_image:
  stage: build_test_env
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile -t $CI_REGISTRY_IMAGE:mobile .
  - docker push $CI_REGISTRY_IMAGE:mobile

lint_app:
  stage: lint
  image: $CI_REGISTRY_IMAGE:mobile
  variables:
    PUB_CACHE: /deps/.pub-cache
  script:
  - flutter analyze lib

unit_and_widget_tests:
  stage: test
  image: $CI_REGISTRY_IMAGE:mobile
  variables:
    PUB_CACHE: /deps/.pub-cache
  script:
  - flutter test --coverage
  - lcov --remove coverage/lcov.info "*.g.dart" "*.part.dart" "*/generated/*" -o coverage/lcov.info
  - genhtml -o coverage coverage/lcov.info
  coverage: /s*lines.*:s*([d.]+%)/
  ...

Add coverage directory
  coverage/.gitkeep
Due: none

Add suggested changes to README
  README.md
Due: none

Fix coverage result not showing in pipeline results
  .gitlab-ci.yml
Due: none

added state objects
  lib/screens/home_screen.dart
  lib/screens/home_widgets/buttons/submit_button.dart
  lib/screens/home_widgets/metrics/temperature_input.dart
  lib/util/measurement_state.dart
  lib/util/metric_objects/metric_object.dart
  lib/util/metric_objects/temperature_object.dart
Due: lint_app, unit_and_widget_tests

added measurement name and blue pin
  lib/screens/home_widgets/location_selector.dart
  test/widget_tests/home_screen_test.dart
Due: lint_app, unit_and_widget_tests

add functions for adding measurement
  lib/screens/home_widgets/buttons/submit_button.dart
  lib/screens/home_widgets/location_selector.dart
  lib/util/measurement_state.dart
  pubspec.yaml
Due: build_mobile_image, lint_app, unit_and_widget_tests

changed color of pin
  lib/screens/home_widgets/location_selector.dart
Due: lint_app, unit_and_widget_tests

eroor
  lib/util/measurement_state.dart
Due: lint_app, unit_and_widget_tests

merged dev
  .vscode/settings.json
  macos/Flutter/ephemeral/Flutter-Generated.xcconfig
  macos/Flutter/ephemeral/flutter_export_environment.sh
  windows/flutter/ephemeral/.plugin_symlinks/geolocator_windows
  windows/flutter/ephemeral/generated_config.cmake
Due: none

fixed linting issues
  lib/screens/home_screen.dart
  lib/screens/home_widgets/buttons/submit_button.dart
  lib/screens/home_widgets/location_selector.dart
  lib/util/metric_objects/temperature_object.dart
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugin_registrant.h
  linux/flutter/generated_plugins.cmake
  macos/Flutter/GeneratedPluginRegistrant.swift
Due: lint_app, unit_and_widget_tests

working adding measurements
  lib/screens/home_screen.dart
  lib/screens/home_widgets/location_selector.dart
  lib/screens/home_widgets/source_selector.dart
  lib/util/measurement_state.dart
  pubspec.lock
  pubspec.yaml
Due: build_mobile_image, lint_app, unit_and_widget_tests

move state to state object
  lib/screens/home_widgets/location_selector.dart
  lib/util/measurement_state.dart
  lib/util/util_functions/get_location.dart
  test/widget_tests/home_screen_test.dart
Due: lint_app, unit_and_widget_tests

leave out tests
  test/widget_tests/home_screen_test.dart
Due: none

delete macos folder
  macos/.gitignore
  macos/Flutter/Flutter-Debug.xcconfig
  macos/Flutter/Flutter-Release.xcconfig
  macos/Flutter/GeneratedPluginRegistrant.swift
  macos/Runner.xcodeproj/project.pbxproj
  macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  macos/Runner.xcworkspace/contents.xcworkspacedata
  macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  macos/Runner/AppDelegate.swift
  macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  macos/Runner/Base.lproj/MainMenu.xib
  macos/Runner/Configs/AppInfo.xcconfig
  macos/Runner/Configs/Debug.xcconfig
  macos/Runner/Configs/Release.xcconfig
  macos/Runner/Configs/Warnings.xcconfig
  macos/Runner/DebugProfile.entitlements
  macos/Runner/Info.plist
  macos/Runner/MainFlutterWindow.swift
  macos/Runner/Release.entitlements
  macos/RunnerTests/RunnerTests.swift
Due: none

delete unused folders
  linux/.gitignore
  linux/CMakeLists.txt
  linux/flutter/CMakeLists.txt
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugin_registrant.h
  linux/flutter/generated_plugins.cmake
  linux/main.cc
  linux/my_application.cc
  linux/my_application.h
  windows/.gitignore
  windows/CMakeLists.txt
  windows/flutter/CMakeLists.txt
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugin_registrant.h
  windows/flutter/generated_plugins.cmake
  windows/runner/CMakeLists.txt
  windows/runner/Runner.rc
  windows/runner/flutter_window.cpp
  windows/runner/flutter_window.h
  windows/runner/main.cpp
  windows/runner/resource.h
  windows/runner/resources/app_icon.ico
  windows/runner/runner.exe.manifest
  windows/runner/utils.cpp
  windows/runner/utils.h
  windows/runner/win32_window.cpp
  windows/runner/win32_window.h
Due: none

add dependency injection into location_selector for getting location function
  lib/main.dart
  lib/screens/home_screen.dart
  lib/screens/home_widgets/location_selector.dart
  lib/util/measurement_state.dart
  lib/util/util_functions/get_location.dart
  test/widget_tests/home_screen_test.dart
Due: lint_app, unit_and_widget_tests

make test work
  lib/screens/home_screen.dart
  lib/screens/home_widgets/location_selector.dart
  lib/util/measurement_state.dart
  test/widget_tests/home_screen_test.dart
Due: lint_app, unit_and_widget_tests

create submitting flow
  lib/screens/home_screen.dart
  lib/screens/home_widgets/buttons/submit_button.dart
  lib/util/measurement_state.dart
  lib/util/metric_objects/metric_object.dart
  lib/util/metric_objects/temperature_object.dart
Due: lint_app, unit_and_widget_tests

added tests
  lib/screens/home_screen.dart
  lib/screens/home_widgets/buttons/clear_button.dart
  lib/screens/home_widgets/metrics/temperature_input.dart
  lib/util/metric_objects/temperature_object.dart
  test/widget_tests/home_screen_test.dart
Due: lint_app, unit_and_widget_tests

adding bad weather tests
  lib/screens/home_widgets/buttons/submit_button.dart
  test/widget_tests/home_screen_test.dart
Due: lint_app, unit_and_widget_tests

fix linting issues
  lib/screens/home_screen.dart
  lib/util/measurement_state.dart
  test/widget_tests/home_screen_test.dart
Due: lint_app, unit_and_widget_tests

Upgrade android version for flutter
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle
  pubspec.lock
  pubspec.yaml
Due: build_mobile_image

update flutter version and fix csrf token
  dockerfile
  lib/util/measurement_state.dart
Due: build_mobile_image, lint_app, unit_and_widget_tests

fix lint
  pubspec.yaml
Due: build_mobile_image

fix lint
  pubspec.lock
Due: none

dropdown thermometer selectore
  lib/screens/home_widgets/metrics/temperature_input.dart
  lib/screens/home_widgets/source_selector.dart
Due: lint_app, unit_and_widget_tests

fixed linitng issues
  lib/util/measurement_state.dart
  lib/util/util_functions/get_location.dart
Due: lint_app, unit_and_widget_tests

fixed linintg
  lib/util/metric_objects/temperature_object.dart
  pubspec.yaml
Due: build_mobile_image, lint_app, unit_and_widget_tests

fix lint lock
  pubspec.lock
Due: none

fix tests
  test/widget_tests/home_screen_test.dart
Due: none

update version
  pubspec.yaml
Due: build_mobile_image

making sure image is found in pipeline
  .gitlab-ci.yml
Due: none

use single image per pipline
  .gitlab-ci.yml
Due: none

fix pipeline
  .gitlab-ci.yml
Due: none

fix error
  .gitlab-ci.yml
Due: none

create function for storing and uploading data
  lib/util/measurement_state.dart
  lib/util/util_functions/is_online.dart
  lib/util/util_functions/store_measurement.dart
  lib/util/util_functions/upload_measurement.dart
  lib/util/util_functions/upload_stored_measurements.dart
  pubspec.lock
  pubspec.yaml
Due: build_mobile_image, lint_app, unit_and_widget_tests

restructure
  lib/util/util_functions/store_measurement.dart
  lib/util/util_functions/upload_measurement.dart
  lib/util/util_functions/upload_stored_measurements.dart
  pubspec.lock
  pubspec.yaml
Due: build_mobile_image, lint_app, unit_and_widget_tests

create error dialog, change time waited format
  lib/screens/home_screen.dart
  lib/screens/home_widgets/metrics/temperature_input.dart
  lib/util/measurement_state.dart
Due: lint_app, unit_and_widget_tests

Path conditions:
  build_mobile_image: any of: pubspec.yaml, dockerfile
  lint_app: any of: lib/**/*
  unit_and_widget_tests: any of: lib/**/*
