Repository rtaormina/waterwatch-mobile: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_mobile_image, lint_app, unit_and_widget_tests

build_mobile_image:
  stage: build_test_env
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile -t $CI_REGISTRY_IMAGE:mobile .
  - docker push $CI_REGISTRY_IMAGE:mobile

lint_app:
  stage: lint
  image: $CI_REGISTRY_IMAGE:mobile
  variables:
    PUB_CACHE: /deps/.pub-cache
  script:
  - flutter analyze lib

unit_and_widget_tests:
  stage: test
  image: $CI_REGISTRY_IMAGE:mobile
  variables:
    PUB_CACHE: /deps/.pub-cache
  script:
  - flutter test --coverage
  - lcov --remove coverage/lcov.info "*.g.dart" "*.part.dart" "*/generated/*" -o coverage/lcov.info
  - genhtml -o coverage coverage/lcov.info
  coverage: /s*lines.*:s*([d.]+%)/
  ...

fixed comments
  lib/screens/home_widgets/buttons/clear_button.dart
  lib/screens/home_widgets/metrics/temperature_input.dart
  lib/screens/home_widgets/source_selector.dart
  lib/util/measurement_state.dart
  lib/util/metric_objects/temperature_object.dart
  lib/util/util_functions/upload_stored_measurements.dart
  pubspec.lock
  pubspec.yaml
Due: build_mobile_image, lint_app, unit_and_widget_tests

Downgrade geolocator
  pubspec.lock
  pubspec.yaml
Due: build_mobile_image

add point and fix lint
  lib/screens/home_widgets/metrics/temperature_input.dart
  lib/util/util_functions/upload_stored_measurements.dart
Due: lint_app, unit_and_widget_tests

fix test
  test/widget_tests/home_screen_test.dart
Due: none

change storing
  lib/util/measurement_state.dart
  lib/util/util_functions/store_measurement.dart
  lib/util/util_functions/upload_stored_measurements.dart
Due: lint_app, unit_and_widget_tests

delete unused folders
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugin_registrant.h
  linux/flutter/generated_plugins.cmake
  macos/Flutter/GeneratedPluginRegistrant.swift
  macos/Flutter/ephemeral/Flutter-Generated.xcconfig
  macos/Flutter/ephemeral/flutter_export_environment.sh
  windows/flutter/ephemeral/.plugin_symlinks/geolocator_windows
  windows/flutter/ephemeral/generated_config.cmake
Due: none

refactor utility functions
  lib/util/measurement_state.dart
  lib/util/util_functions/format_date_time.dart
  lib/util/util_functions/get_CSRF.dart
  lib/util/util_functions/upload_measurement.dart
Due: lint_app, unit_and_widget_tests

making it testable
  lib/main.dart
  lib/util/measurement_state.dart
  lib/util/util_functions/get_CSRF.dart
  lib/util/util_functions/is_online.dart
  lib/util/util_functions/upload_measurement.dart
  test/unit_tests/util_functions/format_duration_test.dart
  test/unit_tests/util_functions/get_csrf_test.dart
  test/widget_tests/offline_test.dart
Due: lint_app, unit_and_widget_tests

fixed cache
  lib/main.dart
  lib/util/util_functions/upload_stored_measurements.dart
  test/widget_tests/home_screen_test.dart
  test/widget_tests/offline_test.dart
Due: lint_app, unit_and_widget_tests

adding tests
  lib/main.dart
  lib/screens/home_screen.dart
  lib/screens/home_widgets/location_selector.dart
  lib/util/measurement_state.dart
  lib/util/util_functions/download_map.dart
  lib/util/util_functions/is_online.dart
  pubspec.lock
  pubspec.yaml
  test/unit_tests/unit_test.dart
  test/widget_tests/home_screen_test.dart
  test/widget_tests/submit_clear_test.dart
  test/widget_tests/widgets_load_test.dart
Due: build_mobile_image, lint_app, unit_and_widget_tests

more tests
  lib/main.dart
  lib/screens/home_screen.dart
  lib/util/measurement_state.dart
  test/widget_tests/offline_test.dart
  test/widget_tests/submit_clear_test.dart
  test/widget_tests/widgets_load_test.dart
Due: lint_app, unit_and_widget_tests

added more tests
  lib/main.dart
  lib/screens/home_widgets/metrics/temperature_input.dart
  lib/util/measurement_state.dart
  test/widget_tests/home_screen_widgets/source_selector_test.dart
  test/widget_tests/offline_test.dart
  test/widget_tests/widgets_load_test.dart
Due: lint_app, unit_and_widget_tests

more tests
  lib/main.dart
  lib/screens/home_widgets/location_selector.dart
  lib/util/util_functions/get_location.dart
  pubspec.lock
  pubspec.yaml
  test/widget_tests/home_screen_widgets/location_selector_test.dart
Due: build_mobile_image, lint_app, unit_and_widget_tests

fixed lint
  lib/util/util_functions/get_csrf_token.dart
  lib/util/util_functions/upload_measurement.dart
  test/unit_tests/util_functions/get_csrf_test.dart
Due: lint_app, unit_and_widget_tests

integration test
  integration_tests/homescreen_test.dart
Due: none

fixed lint
  integration_tests/homescreen_test.dart
Due: none

fixed mr comments
  lib/util/util_functions/get_location.dart
  lib/util/util_functions/upload_measurement.dart
Due: lint_app, unit_and_widget_tests

fix fahrenheit
  lib/util/measurement_state.dart
Due: lint_app, unit_and_widget_tests

fix pipeline
  .gitlab-ci.yml
Due: none

fix pipe
  .gitlab-ci.yml
Due: none

fix
  .gitlab-ci.yml
Due: none

fi
  .gitlab-ci.yml
Due: none

Make pipeline build image
  .gitlab-ci.yml
Due: none

fix typo
  .gitlab-ci.yml
Due: none

Revert pipeline change
  .gitlab-ci.yml
Due: none

fix inclusive
  lib/util/metric_objects/temperature_object.dart
Due: lint_app, unit_and_widget_tests

Path conditions:
  build_mobile_image: any of: pubspec.yaml, dockerfile
  lint_app: any of: lib/**/*
  unit_and_widget_tests: any of: lib/**/*
